{% extends "base.html" %}
{% load static %}
{% block title %}SuipluMX - Inventory{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Inventory</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
  </div>
</div>
<div class="content">
<h5>Pipe, Tubing, Hose & Fittings</h5>
  <div class="row p-4">
    <div class="col-1 text-center"><img class="cat-img" src="{% static 'images/icons/28.png' %}"><a class="fw-light sub-cat-img text-reset"> Pipe Fittings & Pipe</a></div>
    <div class="col-1 text-center"><img class="cat-img" src="{% static 'images/icons/mx.png' %}"><a class="fw-light sub-cat-img text-reset"> Pipe Fittings & Pipe</a></div>
    <div class="col-1 text-center"><img class="cat-img" src="{% static 'images/icons/mx.png' %}"><a class="fw-light sub-cat-img text-reset"> Pipe Fittings & Pipe</a></div>
    <div class="col-1 text-center"><img class="cat-img" src="{% static 'images/icons/mx.png' %}"><a class="fw-light sub-cat-img text-reset"> Pipe Fittings & Pipe</a></div>
    <div class="col-1 text-center"><img class="cat-img" src="{% static 'images/icons/mx.png' %}"><a class="fw-light sub-cat-img text-reset"> Pipe Fittings & Pipe</a></div>
    <div class="col-1 text-center"><img class="cat-img" src="{% static 'images/icons/mx.png' %}"><a class="fw-light sub-cat-img text-reset"> Pipe Fittings & Pipe</a></div>
    <div class="col-1 text-center"><img class="cat-img" src="{% static 'images/icons/mx.png' %}"><a class="fw-light sub-cat-img text-reset"> Pipe Fittings & Pipe</a></div>
    <div class="col-1 text-center"><img class="cat-img" src="{% static 'images/icons/mx.png' %}"><a class="fw-light sub-cat-img text-reset"> Pipe Fittings & Pipe</a></div>
    <div class="col-1 text-center"><img class="cat-img" src="{% static 'images/icons/mx.png' %}"><a class="fw-light sub-cat-img text-reset"> Pipe Fittings & Pipe</a></div>
    <div class="col-1 text-center"><img class="cat-img" src="{% static 'images/icons/mx.png' %}"><a class="fw-light sub-cat-img text-reset"> Pipe Fittings & Pipe</a></div>
    <div class="col-1 text-center"><img class="cat-img" src="{% static 'images/icons/mx.png' %}"><a class="fw-light sub-cat-img text-reset"> Pipe Fittings & Pipe</a></div>
  </div>
<hr>
</div>
{% endblock %}