{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SuipluMX log-out landing page.">
    <title>SuipluMX · Logout</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sign-in.css' %}" rel="stylesheet">
	<link href="{% static 'css/loginextra.css' %}" rel="stylesheet">
  </head>
  <body class="text-center">
    <main class="form-signin w-100 m-auto">
      <form>
            <div class="alert alert-light" role="alert">
              <hr>
              <img class="log-in-logo" src="{% static 'images/logo.png' %}" >
              <hr>
            </div>
            <p>
              <a href="../login" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</a>
            </p>
      </form>
    </main>
  </body>
</html>
