{% extends "base.html" %}
{% load static %}
{% block title %}
  SuipluMX - Viewing Ladder {{db_response.clave}}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Viewing ladder {{db_response.clave}}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            {% include "ladders/ladder_toolbar.html" %}
        </div>
  </div>
  <h5>{{ db_response.modelo }} by {{ db_response.brand }}</h5>
  <script src="{% static 'js/functions_forklifts.js' %}"></script>
  <div class="row">
    <div class="col-8 p-2 mb-0">
      <div class="containervieweqipment">
        <div class="containervieweqipmenthead">
          <div class="row">
            <div class="col-6">General information</div>
            <div class="col-6">
              {% if perms.ladders.change_ladders %}
              <div class="text-end">
                <a href="{% url 'ladders_edit' db_response.id %}" class="nav-link">
                  <span class="align-text-bottom">
                    <img class="filter-white" src="{% static 'images/ico/pencil-square.svg' %}">
                  </span>
                </a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="containervieweqipmentbody">
          <table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">Tag</th>
      <td>{{db_response.clave}}</td>
    </tr>
    <tr>
      <th scope="row">Brand</th>
      <td>{{db_response.brand}}</td>
    </tr>
    <tr>
      <th scope="row">Location</th>
      <td>{{db_response.location}}</td>
    </tr>
    <tr>
      <th scope="row">Model</th>
      <td>{{db_response.modelo}}</td>
    </tr>
    <tr>
      <th scope="row">Steps</th>
      <td>{{db_response.pasos}}</td>
    </tr>
    <tr>
      <th scope="row">Material</th>
      <td>{{db_response.material}}</td>
    </tr>
    <tr>
      <th scope="row">Added</th>
      <td>{{db_response.agregado}}</td>
    </tr>
    <tr>
      <th scope="row align-middle" >Status</th>
      <td class="align-middle m-0 p-0">
       <table class="table table-borderless m-0">
        <tbody>
        <tr>
          <td class="align-middle">
            <span style="height: 18px;width: 18px;background-color:{{ status_color  }};border-radius: 50%;vertical-align: sub;display: inline-block;" class="dot"></span> {{db_response.status}}
          </td>

        </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>
        </div>
      </div>
    </div>
    <div class="col-4 p-2">
      <div class="containervieweqipment">
        <div class="containervieweqipmenthead">
          <div class="row">
            <div class="col-6">Ladder's image</div>
            <div class="col-6">
              <div class="text-end" >
                {% if request.user.is_superuser %}
                <a class="nav-link" href="/forklifts/imagen/upload/{{ db_response.id }}">
                  <span class="align-text-bottom">
                  </span>
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="containervieweqipmentbody">
          {% if db_response.imagen == "" %}
          <img class="border rounded" width="100%"  src="/media/equipment/main/default.png">
          {% else %}
          <img class="border rounded" width="100%" src="/media/{{ db_response.imagen }}">
          {% endif %}
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12 p-2 mb-0">
            {% if perms.ladders.delete_ladders %}
            <div class="row p-2 mb-0">
            <div class="containerdanger">
                <div class="containerdangerhead">
                    <div class="row">
                        <div class="col-6"><a class="fw-bolder text-reset text-decoration-none">Danger zone</a></div>
                        <div class="col-6">
                            <div class="text-end">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="containerdangerbody">
                    <hr>
                    <div class="row">
                        <div class="col-9 align-middle">
                            <a  class="fw-bolder text-reset text-decoration-none">Delete this ladder</a><br>
                            <a class="fw-medium text-reset text-decoration-none">Once you delete this ladder, there is no going back. Please be certain.</a>
                        </div>
                        <div class="col-3 text-end"> <button type="button" onClick='delete_content({{db_response.id}})' class="btn btn-danger">Delete this ladder</button></div>
                    </div>
                    <hr>
                </div>
            </div>
            </div>
            {% else %}
            {% endif %}
    </div>
  </div>
</div>
<script src="{% static 'js/forklifts/forklifts.js' %}"></script>
    <!-- MODAL DELETE -->
  <div class="modal fade" id="modal_delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Are you sure you want to delete this ladder?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">All related items will be deleted. You can't undo this action.
          <form class="eliminar-formulario" method="post" action="{% url 'ladders_delete' db_response.id %}">
            {% csrf_token %}
            <input type="hidden" name="delete_id" id="delete_id" value="{{db_response.id}}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
          </form>
      </div>
    </div>
  </div>
      <script>
const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

{% endblock %}
