{% extends "base.html" %}
{% block title %}SuipluMX - Editing {{registro.username}}'s password{% endblock %}
{% block content %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Change password: {{registro.first_name}} {{registro.last_name}} ({{registro.username}}) </h1>
      </div>
      Enter a new password for the user {{registro.first_name}} {{registro.last_name}} ({{registro.username}}).<br>
      <form method="post" action="">
      {% csrf_token %}
      {{ form.as_table }}
      <br>
      <button type="submit" class="btn btn-success">Update</button></form>
{% endblock %}