{% extends "base.html" %}
{% load static %}
{% block title %}SuipluMX - Forklift status{% endblock %}
{% block content %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Forklifts</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            {% include "forklifts/fork_toolbar.html" %}
          </div>
        </div>
      </div>
<h5>Status</h5>
<table class="table">
  <thead>
    <tr>
      <th width="20%" scope="col">Status</th>
      <th width="10%" scope="col">Count</th>
      <th width="60%" scope="col">Forklifts</th>
      <th width="10%" class="text-end" scope="col">Operations</th>
    </tr>
  </thead>
  <tbody>
        {% for status in status_counts %}
        <tr>
            <td ><span style="height: 18px;width: 18px;background-color:{{ status.color }};border-radius: 50%;vertical-align: sub;display: inline-block;" class="dot"></span> {{ status.name }}</td>
            <td>{{ status.count }} Forklifts</td>
            <td>
                    
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed header_fkl_count" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree{{status.id}}" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        {% widthratio status.count conteo 100 %}% of total</button>
    </h2>
    <div id="panelsStayOpen-collapseThree{{status.id}}" class="accordion-collapse collapse">
      <div class="accordion-body">
        {% for forklift in status.forklifts.all %}
        <button type="button" class="btn btn-sm btn-dark"><div class="pb-1"><img  class="filter-white" src="{% static 'images/ico/truck.svg' %}" /> {{ forklift.clave }}</div></button>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
            </td>
            <td class='text-end align-middle'><a href="view/{{status.id}}" class="btn btn-dark btn-sm">View</a> <button type="button" class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
        {% empty %}
            <td>No status available</td>
        {% endfor %}
</table>
<script src="{% static 'js/complex_forklifts.js' %}"></script>
{% endblock %}