{% extends "base.html" %}
{% load static %}
{% block title %}SuipluMX - {{data_db.name}} by {{ data_db.brand}}{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Viewing equipment</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        {% if request.user.is_superuser %}
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        </div>
        {% else %}
        {% endif %}
    </div>
</div>
<h5>{{data_db.name}} by {{ data_db.brand}}</h5>
<hr>
<div class="row">
    <div class="col-8 p-2 mb-0">
        <div class="containervieweqipment">
            <div class="containervieweqipmenthead">
                <div class="container">
                    <div class="row">
                        <div class="col-6">Equipment information</div>
                        <div class="col-6">
                            {% if request.user.is_superuser %}
                            <div class="text-end">
                                    <a name="edit_b" id="edit_b" class="nav-link"><span class="align-text-bottom"><img class="filter-white" src="{% static 'images/ico/pencil-square.svg' %}"></span></a>
                                    <a name="save_b" id="save_b" class="nav-link"><span class="align-text-bottom"><img class="filter-white" src="{% static 'images/ico/floppy.svg' %}"></span></a>
                            </div>
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="containervieweqipmentbody">
                        <form id="equipment_form_edit" action="" method="post">
                            {% csrf_token %}
                <div class="container">
                <div class="row ">
                <div class="col-md-6">
                    <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="basic-addon1">ID</span>
                    <input disabled type="number" value="{{ data_db.id }}" class="form-control" id="id" name="id">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="basic-addon1">FA</span>
                    {{ form.fa_number}}
                    </div>
                </div>
                </div>
                <div class="row ">
                <div class="col-md-6">
                    <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="basic-addon1">Model</span>
                    {{ form.model }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="basic-addon1">Serial</span>
                    {{ form.serial }}
                    </div>
                </div>
                </div>
            </div>
            <div class="container">
                <div class="row ">
                <div class="col-md-7">
                    <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="basic-addon1">Name</span>
                    {{ form.name }}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="basic-addon1">Brand</span>
                    {{ form.brand }}
                    </div>
                </div>
                </div>
            </div>
            <div class="container">
                <div class="row ">
                <div class="col-md-12">
                    <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="basic-addon1">Location</span>
                    {{ form.location }}
                    </div>
                </div>
                </div>
            </div>
            <div class="container">
                <div class="row ">
                <div class="col-md-12">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">Description</span>
                        {{ form.description }}
                    </div>
                </div>
                </div>
            </div>
        </form>
            </div>
        </div>
    </div>
    <div class="col-4 p-2">
        <div class="containervieweqipment">
            <div class="containervieweqipmenthead">
                    <div class="container">
                    <div class="row">
                    <div class="col-6">Image</div>
                    <div class="col-6">
                        <div class="text-end">
                            {% if request.user.is_superuser %}
                            <a class="nav-link" href="{% url 'equipment_imagen_upload_view' data_db.id %}"><span class="align-text-bottom"><img class="filter-white" src="{% static 'images/ico/upload.svg' %}"></span></a>
                            {% else %}
                            {% endif %}
                        </div></div>
                    </div>
                </div>
            </div>
            <div class="containervieweqipmentbody">
        {% if data_db.imagen == "" %}
        <img class="border rounded" width="100%"  src="/media/equipment/main/default.png">
        {% else %}
        <img class="border rounded" width="100%" src="/media/{{ data_db.imagen }}">
        {% endif %}
        </div>
    </div>
</div>
<div class="modal fade" id="delete_image_Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Are you sure you want to delete this image?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">This image will be deleted. You can't undo this action.
        <form class="eliminar-formulario" method="post">
          {% csrf_token %}
          <input type="hidden" name="delete_id" id="delete_id" value="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
        <button onclick="confirm_delete_image(id);" class="btn btn-danger">Delete</button>
      </div>
        </form>
    </div>
  </div>
</div>
<script src="{% static 'js/complex_equipment.js' %}"></script>
{% endblock %}