{% extends "base.html" %}
{% load static %}

{% block title %}
    SuipluMX - Editing forklift {{data.clave}}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Editing forklift: {{ data.clave }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            {% include "forklifts/fork_toolbar.html" %}
        </div>
    </div>

    <h5>{{ data.modelo }} by {{ data.brand }}</h5>
    <div class="row p-2 mb-0">
        <div class="containervieweqipment">
            <div class="containervieweqipmenthead">
                <div class="row">
                    <div class="col-6">General information:</div>
                    <div class="col-6">
                        <div class="text-end">
                        </div>
                    </div>
                </div>
            </div>
            <div class="containervieweqipmentbody">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row pb-2">
                        <div class="col-2 fw-medium">Tag:</div>
                        <div class="col-10">{{ form.clave }}</div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-2 fw-medium">Powered:</div>
                        <div class="col-10">{{ form.powered }}</div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-2 fw-medium">Brand:</div>
                        <div class="col-10">{{ form.brand }}</div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-2 fw-medium">Model:</div>
                        <div class="col-10">{{ form.modelo }}</div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-2 fw-medium">Serial:</div>
                        <div class="col-10">{{ form.serial }}</div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-2 fw-medium">Holder:</div>
                        <div class="col-10">{{ form.owner }}</div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-2 fw-medium">Service providers:</div>
                        <div class="col-10">{{ form.service_provider }}</div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-2 fw-medium">Imagen:</div>
                        <div class="col-10">{{ form.imagen }}</div>
                    </div>
                    <div class="pb-2 text-end">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/forklifts/forklifts.js' %}"></script>
{% endblock %}
