{% load static %}
<div class="btn-group me-2">
<a href="{% url 'forklift_index_view' %}" class="btn btn-dark">
    <span class="align-text-bottom">
        <img class="filter-white" src="{% static 'images/ico/truck.svg' %}" />
    </span>
    Forklifts
</a>

<a href="{% url 'forklift_holders' %}" class="btn btn-dark">
    <span class="align-text-bottom">
        <img class="filter-white" src="{% static 'images/ico/person-bounding-box.svg' %}" />
    </span>
    Holders
</a>

<a href="{% url 'forklift_service_providers' %}" class="btn btn-dark">
    <span class="align-text-bottom">
        <img class="filter-white" src="{% static 'images/ico/person-gear.svg' %}" />
    </span>
    Service providers
</a>

<a href="{% url 'forklift_brands' %}" class="btn btn-dark">
    <span class="align-text-bottom">
        <img class="filter-white" src="{% static 'images/ico/card-heading.svg' %}" />
    </span>
    Brands
</a>

<a href="{% url 'forklift_status' %}" class="btn btn-dark">
    <span class="align-text-bottom">
        <img class="filter-white" src="{% static 'images/ico/hdd-stack.svg' %}" />
    </span>
    Status
</a>
</div>

<div class="btn-group me-2">
<a href="{% url 'forklift_loto' %}" class="btn btn-danger">
    <span class="align-text-bottom">
        <img class="filter-white" src="{% static 'images/ico/key.svg' %}" />
    </span>
    
</a>
<a href="{% url 'water_track' %}" class="btn btn-primary">
    <span class="align-text-bottom">
        <img class="filter-white" src="{% static 'images/ico/droplet.svg' %}" />
    </span>
    
</a>
<a href="{% url 'inspection' %}" class="btn btn-primary">
    <span class="align-text-bottom">
        <img class="filter-white" src="{% static 'images/ico/journal-check.svg' %}" />
    </span>
    
</a>
</div>