{% extends "base.html" %}
{% load static %}
{% block title %}SuipluMX - Upload Image for {{ modelo.clave }} / {{ modelo.brand }} by {{ modelo.modelo }}{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Upload Image</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a href="{% url 'forklift_view' modelo.id %}" class="btn btn-dark">Back</a>
        </div>
    </div>
</div>
<h5>{{ modelo.clave }} / {{ modelo.brand }} by {{ modelo.brand }}</h5>
<hr>
<!-- cargar_imagen.html -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.imagen }}<br>
    <br>
    <input type="submit" class="btn btn-success" value="Upload image">
</form>
{% endblock %}