{% extends "base.html" %}
{% load static %}
{% block title %}SuipluMX - Registrated ladder materials{% endblock %}
{% block content %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Ladders</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            {% include "ladders/ladder_toolbar.html" %}
        </div>
      </div>
<div class="row pb-2 px-1">
  <div class="col-6"><h5>Registrated ladder materials</h5></div>
  <div class="col-6">
      {% if request.user.is_superuser %}
          <div class="text-end"><a href="{% url 'ladders_materials_add' %}" class="btn btn-dark"><img class="filter-white" src="{% static 'images/ico/bricks.svg' %}" /> Add material</a></div>
      {% else %}
      {% endif %}
  </div>
</div>
<table id="datatable-contenido" class="pt-2 table table-striped table-hover">
    <thead>
        <tr>
            <th>Color</th>
            <th class="text-end">Operations</th>
        </tr>
    </thead>
    <tbody id="tableContenido_results"></tbody>
</table>
<script src="{% static 'js/ladders/ladders.js' %}"></script>
<script src="{% static 'js/ladders/complex_materials.js' %}"></script>
{% endblock %}