{% extends "base.html" %}
{% load static %}

{% block title %}
    SuipluMX - Change password for {{ data.username }}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Staff</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        {% include "staff/staff_toolbar.html" %}
    </div>
</div>

<h5>Change password for {{ data.username }}</h5>
<div class="row p-2 mb-0">
    <div class="containervieweqipment">
        <div class="containervieweqipmenthead">
            <div class="row">
                <div class="col-6">New password for {{ data.username }}</div>
                <div class="col-6">
                    <div class="text-end">
                    </div>
                </div>
            </div>
        </div>
        <div class="containervieweqipmentbody">
          <form method="post">
            {{form.errors}}
             {% csrf_token %}
            <table class="table">
                <tbody>
                    <tr>
                        <td class="fw-bold align-middle text-end">New password:</td>
                        <td class="align-middle">{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold align-middle text-end">Retype new password:</td>
                        <td class="align-middle">{{ form.new_password2 }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-end">
              <button class="btn btn-success" type="submit">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
