h5{
    color: #356835;
    font-size: 15px;
}
.header_fkl_count{
    padding: 5px;
    font-size: 14px;
}
.filter-white{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(7deg) brightness(104%) contrast(102%);
}
.containervieweqipment {
    border: 1px solid #c7c8c9;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    height: 100%;
}
.containervieweqipmenthead {
    background-color: #212529;
    padding: 10px;
    color: white;
    margin: 0px;
}
.containervieweqipmentbody {
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
}
.opt-view-equipment {
    margin-top: 20px;
    text-align: end;
}
.undr_dev {
    background-color: yellow;
    padding: 10px;
    font-size: 25px;
    color: black;
}