{% extends "base.html" %}
{% load static %}

{% block title %}
    SuipluMX - {{ data.name }}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Forklifts: {{ data.name }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                {% include "forklifts/fork_toolbar.html" %}
            </div>
        </div>
    </div>

    <h5>Forklift holder</h5>
        <div class="row p-2 mb-0">
                  <div class="containervieweqipment">
                <div class="containervieweqipmenthead">
                        <div class="row">
                            <div class="col-6">Company's information:</div>
                            <div class="col-6">
                                <div class="text-end">
                                </div>
                            </div>
                    </div>
                </div>
                <div class="containervieweqipmentbody">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row pb-2">
                        <div class="col-2 fw-medium">Company's name:</div>
                        <div class="col-10">{{ form.name }}</div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-2 fw-medium">Contact person:</div>
                        <div class="col-10">{{ form.contact_person }}</div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-2 fw-medium">Phone number:</div>
                        <div class="col-10">{{ form.phone_number }}</div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-2 fw-medium">Adress:</div>
                        <div class="col-10">{{ form.address }}</div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-2 fw-medium">Website:</div>
                        <div class="col-10">{{ form.website }}</div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-2 fw-medium">Email:</div>
                        <div class="col-10">{{ form.email }}</div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-2 fw-medium">Service description:</div>
                        <div class="col-10">{{ form.service_description }}</div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-2 fw-medium">Banner:</div>
                        <div class="col-10">{{ form.imagen }}</div>
                    </div>
            <div class="pb-2 text-end">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </form>
                </div>
            </div>
    </div>
    <script src="{% static 'js/forklifts/forklifts.js' %}"></script>
{% endblock %}
