{% extends "base.html" %}
{% load static %}

{% block title %}
    SuipluMX - {{ data.name }}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Forklifts: {{ data.name }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                {% include "forklifts/fork_toolbar.html" %}
            </div>
        </div>
    </div>

    <h5>Forklift holder</h5><div class="text-end"></div>
    <script src="{% static 'js/functions_forklifts.js' %}"></script>
    <div class="row">
        <div class="col-4 p-2 mb-0">
            <div class="containervieweqipment">
                <div class="containervieweqipmenthead">
                        <div class="row">
                            <div class="col-6">Banner</div>
                            <div class="col-6">
                                <div class="text-end">
                                </div>
                            </div>
                        </div>
                </div>
                <div class="align-middle text-center containervieweqipmentbody">
                    <img class="img_holder" src="/media/{{data.imagen}}">
                </div>
            </div>
        </div>

        <div class="col-8 p-2">
            <div class="containervieweqipment">
                <div class="containervieweqipmenthead">
                        <div class="row">
                            <div class="col-6">Contact information</div>
                            <div class="col-6">
                                <div class="text-end">
                                    {% if request.user.is_superuser %}
                                    <div class="text-end">
                                        <a href="{% url 'forklift_holders_edit' data.id %}" name="edit_b" id="edit_b" class="nav-link"><span class="align-text-bottom"><img class="filter-white" src="{% static 'images/ico/pencil-square.svg' %}"></span></a>
                                    </div>
                                    {% else %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                </div>
                <div class="containervieweqipmentbody">
<div class="row">
    <div class="col-3 fw-bolder">Company's name:</div>
    <div class="col-9 fw-medium">{{ data.name}}</div>
</div>
<div class="row">
    <div class="col-3 fw-bolder">Contact person: </div>
    <div class="col-9 fw-medium">{{ data.contact_person }}</div>
</div>
<div class="row">
    <div class="col-3 fw-bolder">Phone number:</div>
    <div class="col-9 fw-medium">{{ data.phone_number }}</div>
</div>
<div class="row">
    <div class="col-3 fw-bolder">Address:</div>
    <div class="col-9 fw-medium">{{ data.address }}</div>
</div>
<div class="row">
    <div class="col-3 fw-bolder">Website: </div>
    <div class="col-9 fw-medium">{{ data.website }}</div>
</div>
<div class="row">
    <div class="col-3 fw-bolder">Email</div>
    <div class="col-9 fw-medium">{{ data.email }}</div>
</div>
                </div>
            </div>
        </div>
    </div>
        <div class="row p-2 mb-0">
                  <div class="containervieweqipment">
                <div class="containervieweqipmenthead">
                        <div class="row">
                            <div class="col-6">Description</div>
                            <div class="col-6">
                                <div class="text-end">
                                </div>
                            </div>
                    </div>
                </div>
                <div class="d-flex containervieweqipmentbody">
                    {{ data.service_description }}
                </div>
            </div>
    </div>
    <script src="{% static 'js/forklifts/forklifts.js' %}"></script>
{% endblock %}
