{% extends "base.html" %}
{% load static %}

{% block title %}
    SuipluMX - {{ data.name }}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Forklifts: {{ data.name }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                {% include "forklifts/fork_toolbar.html" %}
            </div>
        </div>
    </div>

    <h5>Forklift holder</h5>
    <script src="{% static 'js/functions_forklifts.js' %}"></script>
    <div class="row">
        <div class="col-4 p-2 mb-0">
            <div class="containervieweqipment">
                <div class="containervieweqipmenthead">
                        <div class="row">
                            <div class="col-6">Banner</div>
                            <div class="col-6">
                                <div class="text-end">
                                </div>
                            </div>
                        </div>
                </div>
                <div class="text-center containervieweqipmentbody">
                    <img src="/media/{{data.imagen}}">
                </div>
            </div>
        </div>

        <div class="col-8 p-2">
            <div class="containervieweqipment">
                <div class="containervieweqipmenthead">
                        <div class="row">
                            <div class="col-6">Contact information</div>
                            <div class="col-6">
                                <div class="text-end">
                                    <!-- Potential content here -->
                                </div>
                            </div>
                        </div>
                </div>
                <div class="containervieweqipmentbody">
                    class ServiceProvider(models.Model):<br>
    name = models.CharField(max_length=100)<br>
    email = models.EmailField()<br>
    phone_number = models.CharField(max_length=15)<br>
    address = models.TextField()<br>
    service_description = models.TextField()<br>
    contact_person = models.CharField(max_length=100)<br>
    website = models.URLField(blank=True, null=True)<br>
<br>
    def __str__(self):<br>
        return self.name<br>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2 mb-0">
                  <div class="containervieweqipment">
                <div class="containervieweqipmenthead">
                        <div class="row">
                            <div class="col-6">Information</div>
                            <div class="col-6">
                                <div class="text-end">
                                    <!-- Potential content here -->
                                </div>
                            </div>
                    </div>
                </div>
                <div class="containervieweqipmentbody">
                    <p></p>
                </div>
            </div>
    </div>

    <script src="{% static 'js/forklifts/forklifts.js' %}"></script>
{% endblock %}
