{% extends "base.html" %}
{% load static %}
{% block title %}SuipluMX - Platform settings{% endblock %}
{% block content %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Platform settings</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
          </div>
        </div>
      </div>
<h5>General system configuration</h5>
<hr>
Nothing to show
<div class="text-center">

  <img width="10%" src="{% static 'images/mx.png' %}" ><br>
  <b><a class="copyright" href=""> © 2023 Lebni Pérez Maro. All rights reserved</a><b><br>
    Copyright status: {{data.copy}}<br>
</div>
{% endblock %}