{% extends "base.html" %}
{% load static %}
{% block title %}SuipluMX - Registrated status for forklifts{% endblock %}
{% block content %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Forklifts</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            {% include "ladders/ladder_toolbar.html" %}
        </div>
      </div>
  <div class="row pb-2 px-1">
    <div class="col-6">
      <h5>Registrated forklifts status</h5>
    </div>
    <div class="col-6">
      {% if request.user.is_superuser %}
        <div class="text-end">
          <a href="{% url 'forklift_status_add' %}" class="btn btn-dark">
            <img class="filter-white" src="{% static 'images/ico/hdd-stack.svg' %}" /> Add status
          </a>
        </div>
      {% endif %}
    </div>
  </div>
<table class="table">
  <thead>
    <tr>
      <th width="20%" scope="col">Status</th>
      <th width="10%" scope="col">Count</th>
      <th width="60%" scope="col">Forklifts</th>
      <th width="10%" class="text-end" scope="col">Operations</th>
    </tr>
  </thead>
  <tbody>
        {% for status in status_counts %}
        <tr>
            <td ><span style="height: 18px;width: 18px;background-color:{{ status.color }};border-radius: 50%;vertical-align: sub;display: inline-block;" class="dot"></span> {{ status.name }}</td>
            <td>{{ status.count }} Forklifts</td>
            <td>
                    
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed header_fkl_count" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree{{status.id}}" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        {% widthratio status.count conteo 100 %}% of total</button>
    </h2>
    <div id="panelsStayOpen-collapseThree{{status.id}}" class="accordion-collapse collapse">
      <div class="accordion-body">
        {% if status.count %}
        {% for forklift in status.forklifts.all %}
        <a href="{% url 'forklift_view' forklift.id %}" type="button" class="btn btn-sm btn-dark"><div class="pb-1"><img  class="filter-white" src="{% static 'images/ico/truck.svg' %}" /> {{ forklift.clave }}</div></a>
        {% endfor %}
        {% else %}
            <a type="button" class="btn btn-sm btn-secondary"><div class="pb-1">Nothing to show</div></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
            </td>
            <td class='text-end align-middle'><a href="view/{{status.id}}" class="btn btn-dark btn-sm">View</a></td>
        </tr>
        {% empty %}
            <td>No status available</td>
        {% endfor %}
</table>
<script src="{% static 'js/forklifts/status.js' %}"></script>
{% endblock %}