{% extends "base.html" %}
{% load static %}
{% block title %}SuipluMX - Forklift inspection forms{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Forklift inspection forms</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        {% include "forklifts/fork_toolbar.html" %}
    </div>
</div>
<h5>Inspection forms that needs attention</h5>
    <div class="row pb-2 px-1">
<div class="col-6">
</div>

        <div class="col-6 text-end">
        </div>
    </div>
  <div class="row">
    <div class="col-10 p-2 mb-0">
      <div class="containervieweqipment">
        <div class="containervieweqipmenthead">
          <div class="row">
            <div class="col-6">Unreleased inspection forms</div>
            <div class="col-6">
            </div>
          </div>
        </div>
        <div class="containervieweqipmentbody">   
<table class="table table-striped">
 <thead>
    <tr>
      <th scope="col">Tag</th>
      <th scope="col">Date</th>
      <th class="text-center" scope="col">Inspected</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th class="text-end" scope="col">Operations</th>
    </tr>
  </thead>
  <tbody>
    {% for form in query %}
    <tr>
      <td><a class="btn btn-primary btn-sm" href=""><img class="filter-white" src="/static/images/ico/truck.svg"> {{ form.forklift.clave }}</a></td>
      <td class="align-middle">{{form.fecha}}</td>
      <td class="align-middle text-center"><a href="{% url 'staff_view' form.usuario.id %}" class="btn btn-dark btn-sm"><img class="filter-white" src="{% static 'images/ico/person.svg' %}" /></a> {{form.usuario.first_name}} {{form.usuario.last_name}}</td>
      <td class="align-middle">
        <a href="#" data-bs-toggle="tooltip" data-bs-title="Forks, backrest, locking pins, hoses, hydraulic controls">{%if form.check1 == 0 %}<img class="filter-green" src="/static/images/ico/check-circle.svg">{% else %}<img class="filter-red" src="/static/images/ico/x-circle.svg">{% endif %}</a></td>
      <td class="align-middle">
        <a href="#" data-bs-toggle="tooltip" data-bs-title="Tires, lug nuts, roof covering">{%if form.check2 == 0 %}<img class="filter-green" src="/static/images/ico/check-circle.svg">{% else %}<img class="filter-red" src="/static/images/ico/x-circle.svg">{% endif %}</a></td>
      <td class="align-middle">
        <a href="#" data-bs-toggle="tooltip" data-bs-title="All lights, horn, capacity plate, gauges, display panel">{%if form.check3 == 0 %}<img class="filter-green" src="/static/images/ico/check-circle.svg">{% else %}<img class="filter-red" src="/static/images/ico/x-circle.svg">{% endif %}</a></td>
      <td class="align-middle">
        <a href="#" data-bs-toggle="tooltip" data-bs-title="Energy source in optimal conditions">{%if form.check4 == 0 %}<img class="filter-green" src="/static/images/ico/check-circle.svg">{% else %}<img class="filter-red" src="/static/images/ico/x-circle.svg">{% endif %}</a></td>
      <td class="align-middle">
        <a href="#" data-bs-toggle="tooltip" data-bs-title="Sensor in seat">{%if form.check5 == 0 %}<img class="filter-green" src="/static/images/ico/check-circle.svg">{% else %}<img class="filter-red" src="/static/images/ico/x-circle.svg">{% endif %}</a></td>
      <td class="align-middle">
        <a href="#" data-bs-toggle="tooltip" data-bs-title="Tilt, lift, sideshift lifting functions">{%if form.check6 == 0 %}<img class="filter-green" src="/static/images/ico/check-circle.svg">{% else %}<img class="filter-red" src="/static/images/ico/x-circle.svg">{% endif %}</a></td>
      <td class="align-middle">
        <a href="#" data-bs-toggle="tooltip" data-bs-title="Parking brake">{%if form.check7 == 0 %}<img class="filter-green" src="/static/images/ico/check-circle.svg">{% else %}<img class="filter-red" src="/static/images/ico/x-circle.svg">{% endif %}</a></td>
      <td class="align-middle">
        <a href="#" data-bs-toggle="tooltip" data-bs-title="Brakes">{%if form.check8 == 0 %}<img class="filter-green" src="/static/images/ico/check-circle.svg">{% else %}<img class="filter-red" src="/static/images/ico/x-circle.svg">{% endif %}</a></td>
      <td class="align-middle">
        <a href="#" data-bs-toggle="tooltip" data-bs-title="Seat and safety belt">{%if form.check9 == 0 %}<img class="filter-green" src="/static/images/ico/check-circle.svg">{% else %}<img class="filter-red" src="/static/images/ico/x-circle.svg">{% endif %}</a></td>
      <td class="align-middle">
        <a href="#" data-bs-toggle="tooltip" data-bs-title="Directional">{%if form.check10 == 0 %}<img class="filter-green" src="/static/images/ico/check-circle.svg">{% else %}<img class="filter-red" src="/static/images/ico/x-circle.svg">{% endif %}</a></td>
      <td class="align-middle">
        <a href="#" data-bs-toggle="tooltip" data-bs-title="Strobe">{%if form.check11 == 0 %}<img class="filter-green" src="/static/images/ico/check-circle.svg">{% else %}<img class="filter-red" src="/static/images/ico/x-circle.svg">{% endif %}</a></td>
      <td class="align-middle">
        <a href="#" data-bs-toggle="tooltip" data-bs-title="Fire extinguisher">{%if form.check12 == 0 %}<img class="filter-green" src="/static/images/ico/check-circle.svg">{% else %}<img class="filter-red" src="/static/images/ico/x-circle.svg">{% endif %}</a></td>
      <td class="text-end"><a class="btn btn-dark btn-sm" href="">    <span class="align-text-bottom">
        <img class="filter-white" src="{% static 'images/ico/eye.svg' %}" />
    </span></a> <a class="btn btn-success btn-sm" href="">    <span class="align-text-bottom">
        <img class="filter-white" src="{% static 'images/ico/clipboard-check.svg' %}" />
    </span></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
        </div>
      </div>
    </div>

    <div class="col-2 p-2 mb-0">
      <div class="containervieweqipment">
        <div class="containervieweqipmenthead">
          <div class="row">
            <div class="col-6">Legend</div>
            <div class="col-6">
            </div>
          </div>
        </div>
        <div class="containervieweqipmentbody">   
<table class="table table-striped">
 <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Days</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-end">
      <div style="background-color: #3ad353;" class="commit-node-traycing"></div>
      </td>
      <td>0 days ago</td>
    </tr>
    <tr>
      <td class="text-end">
      <div style="background-color: #26a641;" class="commit-node-traycing"></div>
      </td>
      <td>1 day ago</td>
    </tr>
    <tr>
      <td class="text-end">
      <div style="background-color: #016d31;" class="commit-node-traycing"></div>
      </td>
      <td>2 days ago</td>
    </tr>
    <tr>
      <td class="text-end">
      <div style="background-color: #0d4429" class="commit-node-traycing"></div>
      </td>
      <td>3 days ago</td>
    </tr>
    <tr>
      <td class="text-end">
      <div style="background-color: #082e1b" class="commit-node-traycing"></div>
      </td>
      <td>4 days ago</td>
    </tr>
    <tr>
      <td class="text-end">
      <div style="background-color: #04120b" class="commit-node-traycing"></div>
      </td>
      <td>5+ days ago</td>
    </tr>
  </tbody>
</table>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}