{% load static %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'index' %}"><span class="align-text-bottom"><img src="{% static 'images/ico/house.svg' %}" /></span> Dashboard</a>
            </li>
		    <li class="nav-item">
                <a class="nav-link" href="{% url 'view_inv_index' %}"><span class="align-text-bottom"><img src="{% static 'images/ico/box-seam.svg' %}" /></span> Inventory</a>
            </li>
		    <li class="nav-item">
                <a class="nav-link" href="{% url 'equipment_index' %}"><span class="align-text-bottom"><img src="{% static 'images/ico/cpu.svg' %}" /> </span> Equipment</a>
            </li>
        </ul>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
        <span>Inspection & Control</span>
    </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'forklift_index_view' %}"><span class="align-text-bottom"><img src="{% static 'images/ico/truck.svg' %}" /></span> Forklifts</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="{% url 'ladders_index_view' %}"><span class="align-text-bottom"><img src="{% static 'images/ico/ladder.svg' %}" /></span> Ladders</a>
            </li>-->
        </ul>
    {% if request.user.is_superuser %}
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
        <span>Locations</span>
    </h6>
        <ul class="nav flex-column mb-2">
		    <li class="nav-item">
                <a class="nav-link" href="{% url 'storage_index' %}"><span class="align-text-bottom"><img src="{% static 'images/ico/archive.svg' %}" /></span> Storage</a>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'locations_index' %}"><span class="align-text-bottom"><img src="{% static 'images/ico/geo-alt.svg' %}" /></span> Locations</a>
            </li>
		    </li>
        </ul>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
	    <span>Staff</span>
    </h6>
	    <ul class="nav flex-column mb-2">
            <li class="nav-item">
			    <a class="nav-link" href="{% url 'staff_index' %}"><span class="align-text-bottom"><img src="{% static 'images/ico/people.svg' %}" /></span> Accounts</a>
		    </li>
	    </ul>
    {% else %}
    {% endif %}
    </div>
</nav>