{% extends "base.html" %}
{% load static %}
{% block title %}SuipluMX - Adding a Lockout / Tagout procedure{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Lockout / Tagout procedures for forklifts</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        {% include "forklifts/fork_toolbar.html" %}
    </div>
</div>
<div class="row pb-2 px-1">
    <div class="col-6">
        <h5>Adding a Lockout / Tagout procedure</h5>
    </div>
    <div class="col-6 text-end">
        <a href="{% url 'forklift_loto' %}" class="btn btn-danger">
            <span class="align-text-bottom">
                <img class="filter-white" src="{% static 'images/ico/key.svg' %}" />
            </span>
            Lockout/Tagout 
        </a>
    </div>
</div>
<div class="col-12">
    <div class="containervieweqipment">
        <div class="containervieweqipmenthead">
            <div class="row">
                <div class="col-6">Active Lockout / Tagout</div>
                <div class="col-6">
                    <div class="text-end">
                    </div>
                </div>
            </div>
        </div>
        <div class="containervieweqipmentbody">
            <form method="post">
                {% csrf_token %}
        <div class="row pt-3">
            <div class="col-1"><a class="text-reset fw-normal text-decoration-none" >Reason:</a></div>
            <div class="col-11">{{form.reason}}</div>
        </div>

        <div class="row pt-3 pb-3">
            <div class="col-1"><a class="text-reset fw-normal text-decoration-none" >Description:</a></div>
            <div class="col-11">{{form.description}}</div>
        </div>
            <div class="text-end"><button class="btn btn-dark" type="submit">Lockout-Tagout</button></div>
            </form>

        </div>
    </div>
</div>
{% endblock %}