{% load static %}
<div class="btn-group me-2">
<a href="{% url 'locations_index' %}" class="btn btn-dark">
    <span class="align-text-bottom">
        <img class="filter-white" src="{% static 'images/ico/geo.svg' %}" />
    </span>
    Locations
</a>
            {% if request.user.is_superuser %}
            <a href="{% url 'locations_add' %}" class="btn btn-dark">
            <span class="align-text-bottom">
            <img class="filter-white" src="{% static 'images/ico/plus-square.svg' %}" />
            </span>
            Add location
            </a>
            {% else %}
            {% endif %}
</div>